<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853894956843-btb7v3m45lv2ulsovn680f5tc4a89v90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853894956843-btb7v3m45lv2ulsovn680f5tc4a89v90</string>
	<key>API_KEY</key>
	<string>AIzaSyBQAwJf8i1GJi1w4O15s4PG0exS3u9B5pY</string>
	<key>GCM_SENDER_ID</key>
	<string>853894956843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pututyb.FireAuth</string>
	<key>PROJECT_ID</key>
	<string>fireauth-e17ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fireauth-e17ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853894956843:ios:956e40f08466f0889e276e</string>
</dict>
</plist>